---
layout: home
background: '/media/ue5_b.jpg'
---

<div id="about">
  <p>
    Hey! I'm Ben Hoffman, Engine Programmer at Epic Games. I have 
    always had a passion for video games, so I decided to make a 
    career out of them. I am constantly learning and I love to 
    take on new challenges! 
  </p>
</div> <!-- End about -->


<!-- Container Div that will have dynamically generated projects in it -->
<div id="projects">
  <h1>Professional Experience</h1>
  {% for project in site.data.projects %}
    <div id="projectInfo">
      <h2 id="projectTitle">{{ project.title }} {% if project.tools %}<span id="tools">({{ project.tools}})</span>{% endif %}</h2>

      <img id="projectBanner" src={{ project.image }} />

      <p>{{ project.description }}</p>

      <div id="projectLinks" style="text-align: center;">
        {% if project.links %}
        <p>
            {% for link in project.links %}
              <a href={{ link.value }} target="_blank">{{ link.name }}</a>{% if link != project.links.last %}  |  {% endif %}
            {% endfor %}
        {% endif %}
        </p>
      </div> <!-- End project links -->

    </div> <!-- End Project Info -->
  {% endfor %}

</div> <!-- End projects -->

<div id="otherInfo">

<h1>Personal Projects</h1>

{% for item in site.data.personalProjects %}
  <div id="projectInfo">
    <h2 id="projectTitle">{{ item.title }} {% if item.tools %}<span id="tools">({{ item.tools}})</span> {% endif %}</h2>

    <img id="projectBanner" src={{ item.image }} />

    <p>{{ item.description }}</p>
    <div id="projectLinks" style="text-align: center;">
    {% for link in item.links %}
      <a href={{ link.value }} target="_blank">{{ link.name }}</a>{% if link != item.links.last %}  |  {% endif %}
    {% endfor %}
      </div>
  </div> <!-- End Project Info -->
{% endfor %}  <!-- end other stuff -->


</div>  <!--  End other stuff about me-->
